In [18]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
import numpy as np

In [19]:
df = pd.read_csv("Student_Marks.csv")
df

    number_courses time_study   Marks
0                3      4.508  19.202
1                4      0.096   7.734
2                4        NAN  13.811
3                6      7.909  53.018
4                8      7.811  55.299
..             ...        ...     ...
95               6      3.561  19.128
96               3      0.301   5.609
97               4      7.163  41.444
98               7      0.309  12.027
99               3      6.335  32.357

[100 rows x 3 columns]

In [21]:
pipeline = Pipeline([
    ("fill_nan_values", SimpleImputer())])

In [23]:
data_frame=pd.DataFrame(pipeline.fit_transform(df), columns=df.columns)
data_frame

    number_courses  time_study   Marks
0              3.0    4.508000  19.202
1              4.0    0.096000   7.734
2              4.0    4.085337  13.811
3              6.0    7.909000  53.018
4              8.0    7.811000  55.299
..             ...         ...     ...
95             6.0    3.561000  19.128
96             3.0    0.301000   5.609
97             4.0    7.163000  41.444
98             7.0    0.309000  12.027
99             3.0    6.335000  32.357

[100 rows x 3 columns]

In [24]:
pipeline = Pipeline([
    ("fill_nan_values", SimpleImputer()),
    ("ML_model", LinearRegression())
])

In [13]:
pipeline.fit(df.drop("Marks", axis=1), df["Marks"])

Pipeline(steps=[('fill_nan_values', SimpleImputer()),
                ('ML_model', LinearRegression())])

In [14]:
pipeline.predict(df.drop("Marks", axis=1))

array([22.36621901,  0.4730833 , 21.97855454, 46.37252879, 49.62584178,
       21.04683918, 30.74881743, 20.24496568, 23.72872932, 31.34179867,
       37.70287013,  7.90826283, 27.65096258, 21.1047862 , 13.74103736,
       22.92011854, 32.67600873, 40.29447338, 45.30516257, 28.95775025,
       25.46993786, 36.76084199, 12.9027798 , 31.90783077, 19.55090696,
        5.64953883,  8.36647561, 31.1194364 ,  2.68733029,  6.95814175,
       28.3485968 ,  8.43115991, 12.54295143, 39.28370763, 20.07515514,
       38.72711045, 15.94450288, 42.99792647, 40.84567526, 45.65016983,
        0.71027579, 18.58327167, 23.09531982, 10.23975497, 10.48907549,
        9.17508183, 20.4242066 , 25.71791183, 28.44158134, 22.94033495,
       39.87129813, 26.00092789,  4.1118318 , 38.23655781, 48.4398793 ,
       21.33120178, 48.70941623, 46.86173946, 31.47656713, 47.77681846,
        5.76409544, 13.09819293, 23.1761809 , 24.31227562,  6.32877645,
       15.28413969, 29.45908437,  1.02967591,  7.47565265, 25.01981348,
       20.09537155, 15.4202547 , 23.04006133,  6.84628278, 37.44276814,
        2.39353276, 36.23389616, 39.78235322, 45.79437323,  2.40431423,
       48.52208692, 19.71263367, 39.90094491, 19.08056616, 18.20322688,
       40.94675274, 27.55211404,  3.63340262, 11.56587665, 39.99932931,
       28.17204897, 22.2354993 , 27.05481499, 42.40225215, 28.64508742,
       22.93359766, -0.31261798, 38.56943249,  7.29371864, 32.21509831])

In [16]:
pipeline.named_steps["fill_nan_values"].statistics_

array([5.29      , 4.08533673])